@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="general-container">
    <div class="text-center">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">About</h1>
        <br />
        <p>Talk about the project!</p>
    </div>
</div>
