@page
@model VotingSystem.Pages.Shared.CreateAccountModel
@{
    ViewData["Title"] = "Create an Account";
}

<div class="general-container">
    <div class="text-center">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">Create an Account</h1>
        <br />
        <form action="/Login">
            <br />
            <div class="text-center">
                <label for="email"></label>
                <input type="email" id="email" name="email_address" placeholder="Email Address" required>
            </div>
            <br />
            <div class="text-center">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <br />
            <div class="text-center">
                <label for="retype-password"></label>
                <input type="password" id="retype-password" name="retype-password" placeholder="Retype Password" required>
            </div>
            <br />
            <div class="text-center">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
