@page
@model VotingSystem.Pages.Shared.CreateAccountModel
@{
    ViewData["Title"] = "Create an Account";
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Create an Account page for new users.
    -->

<div class="general-container">
    <div class="text-center">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">Create an Account</h1>
        <br />
        <form method="post">
            <br />
            <div class="text-center">
                <input type="text" id="name" placeholder="Full Name" asp-for="Name" required>
                <br />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="email" id="email" placeholder="Email Address" asp-for="Email" required>
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="password" id="password" placeholder="Password" asp-for="Password" required>
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="password" id="retype-password" placeholder="Retype Password" asp-for="RetypePassword" required>
                <br />
                <span asp-validation-for="RetypePassword" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}