@page
@model VotingSystem.Pages.Shared.CreateAccountModel
@{
    ViewData["Title"] = "Create an Account";
}

<div class="general-container">
    <div class="text-center">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">Create an Account</h1>
        <br />
    </div>
</div>
