@page
@model VotingSystem.Pages.Shared.LoginModel
@using VotingSystem.Classes; 
@{
    ViewData["Title"] = "Login";
    bool loginFailed = Model.LoginFailed;
    signedIn.isSignedIn = Model.SignedIn;
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Login page for the Voting System. Also the default landing page.
    -->

<div class="text-center">
    <div class="general-container">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">Log In</h1>
        @if (loginFailed)
        {
            <span class="text-danger">Email address or password is incorrect. Please try again.</span>
        }
        <form method="post">
            <br />
            <div class="text-center">
                <input type="email" id="email" placeholder="Email Address" asp-for="Email" required>
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="password" id="password" placeholder="Password" asp-for="Password" required>
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input type="submit" value="Submit">
            </div>
            <br />
            <div class="text-center">
                <a href="/CreateAccount">Create an Account</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}