@page
@model VotingSystem.Pages.Shared.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Login page for the Voting System. Also the default landing page.
    -->

<div class="text-center">
    <div class="general-container">
        <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
        <h1 class="display-4">Log In</h1>
        <form action="/Elections">
            <br />
            <div class="text-center">
                <label for="email"></label>
                <input type="email" id="email" name="email_address" placeholder="Email Address" required>
            </div>
            <br />
            <div class="text-center">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <br />
            <div class="text-center">
                <input type="submit" value="Submit">
            </div>
            <br />
            <div class="text-center">
                <a href="/CreateAccount">Create an Account</a>
            </div>
        </form>
    </div>
</div>