@page
@model VotingSystem.Pages.VoteSubmittedModel
@{
    ViewData["Title"] = "Vote Submitted";
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Vote submitted page.
    -->

<div class="general-container">
    <div class="text-center">
        <h1 class="display-4">Vote Submitted</h1>
        <img src="/Images/VoteSubmittedNoBG.png" alt="Vote Submitted" style="width:256px;height:256px;" />
        <div class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form action="/Login">
                            <input type="submit" value="Sign Out" style="background-color: #af4c4c; color: white; cursor: pointer;">
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form action="/Elections">
                            <input type="submit" value="Continue">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>